.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Высота на 100% экрана */
  margin: 0 auto;
  width: 480px;
  background-color: #12110f;
}
main {
  display: flex;
  flex: 1;
}
