<footer class="footer">
  <nav class="footer-nav">
    <ul class="footer-ul">
      <li>
        <button mat-fab routerLink="/" class="footer-button">
          <mat-icon>home</mat-icon>
          <span>Главная</span>
        </button>
      </li>
      <li>
        <button mat-fab routerLink="/inventory" class="footer-button">
          <mat-icon>inventory</mat-icon>
          <span>Инвентарь</span>
        </button>
      </li>
      <li>
        <button mat-fab routerLink="/profile" class="footer-button">
          <mat-icon>account_circle</mat-icon>
          <span>Профиль</span>
        </button>
      </li>
      <li>
        <button mat-fab routerLink="/dungeon" class="footer-button">
          <mat-icon>games</mat-icon>
          <span>Подземелья</span>
        </button>
      </li>
      <li>
        <button mat-fab routerLink="/lobby" class="footer-button">
          <mat-icon>people</mat-icon>
          <span>Лобби</span>
        </button>
      </li>
    </ul>
  </nav>

</footer>
