<footer class="footer">
  <nav class="footer-nav">
    <ul class="footer-ul">
      <li><button mat-button routerLink="/" class="footer-button">Главная</button></li>
      <li><button mat-button routerLink="/inventory" class="footer-button">Инвентарь</button></li>
      <li><button mat-button routerLink="/profile" class="footer-button">Профиль</button></li>
      <li><button mat-button routerLink="/dungeon" class="footer-button">Подземелья</button></li>
      <li><button mat-button routerLink="/lobby" class="footer-button">Лобби</button></li>
    </ul>
  </nav>

</footer>
